<p>
  calc works!
</p>
<h1 align="center">CALCULATER</h1>
<table>
  <tr>
    <td colspan="6"><input type="text" [value]="y" width="30"></td>
  </tr>
  <tr>
    <td><button (click)="onclickone()">1</button></td>
    <td><button (click)="onclicktwo()">2</button></td>
    <td><button (click)="onclickthree()">3</button></td>
    <td><button (click)="onclickplus()">+</button></td>
  </tr>
  <tr>
    <td><button (click)="onclickfour()">4</button></td>
    <td><button (click)="onclickfive()">5</button></td>
    <td><button (click)="onclicksix()">6</button></td>
    <td><button (click)="onclickminus()">-</button></td>
  </tr>
  <tr>
    <td><button (click)="onclickseven()">7</button></td>
    <td><button (click)="onclickeight()">8</button></td>
    <td><button (click)="onclicknine()">9</button></td>
    <td><button (click)="onclickmul()">*</button></td>
  </tr>
  <tr>
    <td><button (click)="onclickclear()">c</button></td>
    <td><button (click)="onclickzero()">0</button></td>
    <td><button (click)="onclickeq()">=</button></td>
    <td><button (click)="onclickdivison()">/</button></td>
  </tr>
</table>
